/* HEADER */
/* GENERAL STYLE OF THE HEADER */
.site-header {
  background-color: #1a1a1a;
  padding: 20 px 0;
}

/* NAVIGATION BAR STYLE INSIDE THE HEADER */
main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO STYLE */
.logo .logo-text {
  color: #fdfdfd;
  font-family: var (--font-titles);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo .logo-location {
  color: #cccccc;
  font-size: 12px;
  text-transform: uppercase;
}

/*NAV LINKS STYLE*/
.nav-links ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

/*MOUSE HOVER EFFECT*/
.nav-links ul li a:hover {
  color: var(--highlighted-color);
}
