:root {
  --highlighted-color: #fff;
  --primary-color: #1a1a1a;
  --font-primary: "Raleway", sans-serif;
  --font-titles: "Cormorant Garamond", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  overflow-x: hidden;
  background-image: url("images/image1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* HEADER */
.site-header {
  background-color: transparent;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* NAVIGATION */
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 15px
}

.nav-links ul li {
  margin-right: 10px;
}

.nav-links ul li a {
  color: #ffffff
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  transition: color 0.3s ease;
  
}

.nav-links ul li a:hover {
  background-color: var(--primary-color);
  color: #bca07d;;
}

/* CALL TO ACTION BUTTON */
.button-cta {
  background-color: #bca07d;;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 25px;
  border-radius: 50px;
  transition: all 0.3s ease;
  border: none;
}

.button-cta:hover {
  background: var(--primary-color);
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* FEATURES SECTION */
.features-section {
  padding: 60px 0;
  background-color: transparent !important;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
  align-items: center;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-item i {
  font-size: 4rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  display: inline-block;
  border: none;
  padding: 0;
  text-align: center;
}

.feature-item p {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  background-color: transparent;
  transition: all 0.3s ease;
}

.feature-item p:hover {
  background-color: var(--primary-color);
  color: white;
}

/* FOOTER */
footer {
  background-color: transparent !important;
  color: var(--primary-color);
  padding: 40px 0;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.footer-social a {
  color: var(--primary-color);
  font-size: 20px;
  transition: color 0.3s ease;
  border: 1px solid var(--primary-color);
}

.footer-social a:hover {
  color: var(--highlighted-color);
}

.footer-adress,
.footer-coopyright,
.footer-social {
  flex: 1;
}

.footer-adress {
  text-align: left;
}

.footer-coopyright {
  text-align: center;
}

/* MAIN CONTAINER */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent !important;
}

/* HERO SECTION */
.hero-section {
  padding: 100px 60px;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-family: var(--font-titles);
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  color: var(--primary-color);
}

.hero-content .hidden {
  display: none;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--primary-color);
}

/* LOGO */
.logo,
.logo-text {
  color: #ffffff;
  font-family: 'Garamond', serif;
  font-size: 24px;
  font-weight: bold;
}
/* HEADER FLUTUANTE */
.site-header {
  background-color: transparent; /* Fundo transparente */
  padding: 20px 0;
  position: absolute;   /* <<< A MÃGICA ACONTECE AQUI */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Garante que ele fique na frente da imagem */
}
.logo,
.logo-location {
  color: #cccccc;
  font-size: 12px;
  text-transform: uppercase;
}

.logo-location {
  font-size: 12px;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-top: 5;
  text-shadow: 1px 1px 2px rgba (0, 0, 0.3);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* MENU TOGGLE */
.menu-toggle {
  display: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/*SECTION STYLES */
.section-style {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
